.profile-img {
  border-radius: 100px;
  box-sizing: content-box;
  width: 200px;
}

.bordered {
  border: 6px solid  #0368F9;
}

.about-img {
  max-width: 220px;
}

.testimonial-item p::before {
  font-size: 3em;
  font-family: cursive;
  line-height: .5em;
  content: '"';
}

blockquote {
  padding: 0;
  margin: 0;
  border: none;
}

blockquote:nth-child(even) {
  text-align: left;
}

blockquote:nth-child(odd) {
  text-align: right;
}

section h2 {
  margin-bottom: 1em;
}

/* bright blue: #0368F9 */