/* bright blue: #428fff */
/* dark blue: #0248ad */

p {
  letter-spacing: .5px;
}

@media(max-width: 500px) {
  p {
    text-align: left;
  }
}

/* Sections */

header {
  height: 100vh;
}

.intro-text--title {
  text-transform: uppercase;
  font-family: 'Martel Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.intro-text--title h1 {
  font-size: 8em;
  font-weight: 700;
}

.intro-text--title h2 {
  font-size: 4em;
  font-weight: 900;
}

.intro-text--subtitle {
  font-size: 2.5em;
  font-weight: bold;
}

@media(max-width:768px) {
  header .container {
    padding-top: 10em;
    padding-bottom: 100px;
  }

  .intro-text--title h1 {
    font-size: 6em;
  }

  .intro-text--title h2 {
    font-size: 1.8em;
  }

  .intro-text--subtitle {
    font-size: 1.6em;
  }
}

section h2 {
  margin-bottom: 1em;
  font-weight: bold;
}

section.success h2 {
  color: #ffffff;
}

/* Videos */

.videos-row {
  margin: 2em 0;
}

.video {
  margin-top: .2em;
  margin-bottom: .2em;
}

/* Testimonials */

.testimonial-item img {
  max-width: 150px;
  display: inline-block;
  padding: 0;
}

.testimonial-item h1 {
  padding: 0 15px;
  text-transform: none;
}

blockquote {
  padding: 0 0 1em 0;
  margin: 0;
  border: none;
}

.testimonial-break {
  display: block;
  color: #ffffff;
  width: 200px;
}

/* Footer */

.footer-below a {
  color: #ffffff;
}

.footer-below a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Utility classes */

.round {
  border-radius: 50%;
}

.shadowed {
  box-shadow: 0px 3px 6px 0px #3b3b3b
}

.text-shadow {
  text-shadow: 1px 1px 3px #000000;
}

/* Buttons */

.btn {
  background-color: #428fff;
  color: #ffffff;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: #0248ad;
}

.btn:active {
  margin-top: 2px;
}

/* Images */

.about-img {
  max-width: 220px;
  margin-bottom: 2em;
}
