/* main blue: #214AAE */
/* dark blue: #11348a */

/* Fonts */

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova-bold-webfont.eot');
  src: url('/fonts/proximanova-bold-webfont.svg#svgFontName') format('svg');
}

@media(max-width: 500px) {
  p {
    text-align: left;
  }
}

h4 {
  font-weight: bold;
}

/* Sections */

header {
  height: 100vh;
}

.intro-text--title {
  text-transform: uppercase;
}

.intro-text--title h1 {
  font-size: 6em;
  font-weight: 500;
  font-family: 'Martel Sans','Helvetica Neue', Helvetica, Arial, sans-serif;

}

.intro-text--title h2 {
  font-size: 3em;
  font-weight: 400;
  letter-spacing: .18em;
  font-family: 'Martel Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
}

.intro-text--subtitle {
  display: block;
  margin-top: 1em;
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: .16em;
  text-transform: uppercase;
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
}

@media(max-width:768px) {
  header .container {
    padding-top: 5em;
    padding-bottom: 100px;
  }

  .intro-text--title h1 {
    font-size: 6em;
  }

  .intro-text--title h2 {
    font-size: 1.4em;
  }

  .intro-text--subtitle {
    font-size: 1.6em;
  }
}

section h2 {
  margin-bottom: 1em;
  letter-spacing: .2em;
  font-weight: bold;
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
}

section.success h2 {
  color: #ffffff;
}

@media(max-width: 500px) {
  section h2 {
    font-size: 1.6em;
  }
}

/* Videos */

.videos-row {
  margin: 2em 0;
}

.video {
  margin-top: .2em;
  margin-bottom: .2em;
}

@media(max-width: 400px) {
  .video {
    margin: .2em 0 .2em -2em;
    max-width: 300px;
  }
}
/* Testimonials */

.testimonial-item img {
  display: inline-block;
  padding: 0;
  margin-bottom: 2em;
}

.testimonial-item__name {
  text-align: right;
  font-style: italic;
  padding: 0;
  margin: 0 .2em 0;
}

.testimonial-item__name:before {
  content: "- ";
}

blockquote {
  padding: 0;
  margin: 0;
  border: none;
}

blockquote p {
  font-size: 1em;
}

.testimonial-break {
  display: block;
  color: #ffffff;
  width: 200px;
  margin-top: 3em;
  margin-bottom: 3em;
}

/* Footer */

.footer-below a {
  color: #ffffff;
}

.footer-below a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Utility classes */

.round {
  border-radius: 50%;
}

.rounded {
  border-radius: 2%;
}

.shadowed {
  box-shadow: 0px 3px 6px 0px #3b3b3b
}

.text-shadow {
  text-shadow: 1px 1px 3px #000000;
}

.centered {
  text-align: center;
}

/* Buttons */

.btn {
  background-color: #214AAE;
  color: #ffffff;
  transition: background-color 0.2s ease;
  text-decoration: none !important;
}

.btn:hover {
  background-color: #11348a;
}

.btn:active {
  margin-top: 2px;
}

.btn.centered {
  display: block;
  margin: 0 auto;
}

.btn.highlight {
  background-color: #fb890f;
  color: #214AAE;
  font-size: 1.2em;
}

/* Images */

.about-img {
  max-width: 220px;
  margin-bottom: 2em;
}
