<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body id="page-top" class="index">

    {{ partial "nav.html" . }}

    <section id="content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="text-center">{{ .Title }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            {{ .Content }}
          </div>
        </div>
      </div>
    </section>

    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}

  </body>
</html>
