<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body id="page-top" class="index">

    {{ partial "nav.html" . }}

    {{ "<!-- Testimonial Grid Section -->" | safeHTML }}
    <section class="success" id="testimonial">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h2>{{ .Title }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <p>Here are some testimonials from some clients. More text to go here.</p>
          </div>
        </div>
        <div class="row">
          {{ range .Site.Data.testimonials.items }}
          <div class="testimonial-item col-xs-12 col-sm-6">
            {{ if .name}}
            <div class="testimonial-item__name">
              <p>{{ .name }}</p>
            </div>
            {{ end }}

            {{ if .img }}
            <a href="/img/{{.img}}">
              <img src="/img/{{.img}}" class="img-responsive"/>
            </a>
            {{ end }}
            <div
              {{ if .img }}
              class=""
              {{ else }}
              class=""
              {{ end }} >
              <blockquote>
                {{ range .paras }}
                <p>{{ . }}</p>
                {{ end }}
              </blockquote>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </section>

    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}

  </body>
</html>


