<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body id="page-top" class="index">

    {{ partial "nav.html" . }}

    {{ "<!-- Videos Section -->" | safeHTML }}
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 text-center">
            <h2>{{ .Title }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="page-intro-text col-xs-12 col-sm-10 col-sm-offset-1">
            {{ .Content }}
            <hr>
          </div>
        </div>
        <div class="row videos-row">
          {{ range .Site.Data.videos.youtube }}
            <div class="video col-lg-4 col-sm-6">
              {{ partial "youtube.html" . }}
            </div>
          {{ end }}
        </div>
        <div class="row videos-row">
          {{ range .Site.Data.videos.instagram }}
            <div class="video col-lg-4 col-sm-6">
              {{ partial "instagram.html" . }}
            </div>
          {{ end }}
        </div>
      </div>
    </section>

    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}

  </body>
</html>


