/* main blue: #214AAE */
/* dark blue: #11348a */

/* Site-wide */

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

h4 {
    font-size: 1.4em;
    padding: 1em 0 0;
}

.page-intro-text {
    margin-bottom: 40px;
}

.btn-holder {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#about .btn-holder {
    margin: 2.5em 0;
}

/* Fonts */

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova-bold-webfont.eot');
  src: url('/fonts/proximanova-bold-webfont.svg#svgFontName') format('svg');
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

@media(max-width: 500px) {
  p {
    text-align: left;
  }
}

h2 {
    margin: 0 .8em;
    line-height: 1.2em;
}

h4 {
    margin: 0 .8em;
    font-weight: bold;
    color: #000;
}

p {
    margin: 0 .8em .8em;
    color: rgb(106, 106, 106);
}

/* Sections */

header {
  height: 100vh;
}

section#contact {
    background-color: #fff;
}

.navbar-default {
    background-color: #000;
}

.nav .navbar-nav .navbar-right {
    font-weight: 15px;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.intro-text--title {
  text-transform: uppercase;
}

.intro-text--title h1 {
  font-size: 6em;
  font-weight: 500;
  font-family: 'Martel Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: .2em 0;
}

.intro-text--title h2 {
  font-size: 3em;
  font-weight: 400;
  letter-spacing: .18em;
  font-family: 'Martel Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: .8em 0 1em 0;
}

.intro-text--subtitle {
  display: block;
  margin-top: 1em;
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: .16em;
  text-transform: uppercase;
  font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;
}


@media(max-width:768px) {
  header .container {
    padding-top: 10em;
    padding-bottom: 100px;
  }

  .intro-text--title h1 {
    font-size: 6em;
  }

  .intro-text--title h2 {
      font-size: 1.4em;
      padding: 1em;
  }

  .intro-text--subtitle {
    font-size: 1.6em;
  }
}

section.success h2 {
  color: rgb(23, 23, 23);
}

@media(max-width: 500px) {
  section h2 {
    font-size: 1.6em;
  }
}

hr {
    border-color: rgb(200, 200, 200);
    margin: 30px 0;
    display: block;
}

/* Videos */

.videos-row {
  margin: 2em 0;
}

.video {
  margin-top: .2em;
  margin-bottom: .2em;
}

@media(max-width: 400px) {
  .video {
    margin: .2em 0 .2em -2em;
    max-width: 300px;
  }
}

/* Testimonials */

.testimonial-holder {
  display: flex;
  flex-wrap: wrap;
}

.testimonial-item img {
  display: inline-block;
  padding: 0;
  margin-bottom: 2em;
  max-width: 340px;
  height: auto;
}

.testimonial-item__name {
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  padding: 0;
  margin: 0 .2em;
  color: rgb(106, 106, 106);
}

.testimonial-item__name p {
  margin: 0 0 1.8em 0;
}

.testimonial-item__text {
  padding: 0;
  margin: 0;
  border: none;
}

.testimonial-item__text p {
  font-size: 1.1em;
  text-align: justify;
  color: rgb(106, 106, 106);
  margin: 0 0 1.8em 0;
}

#testimonial .testimonial-item {
    right: 0;
    margin: 0 0 15px;
}

@media(min-width:767px) {
    #testimonial .testimonial-item {
        margin: 0 0 20px;
    }
}

/* Footer */

.footer-below a {
  color: #ffffff;
}

.footer-below a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Utility classes */

.round {
  border-radius: 50%;
}

.rounded {
  border-radius: 2%;
}

.shadowed {
  box-shadow: 0px 3px 6px 0px #3b3b3b
}

.text-shadow {
  text-shadow: 1px 1px 3px #000000;
}

.centered {
  text-align: center;
}

/* Buttons */

.btn {
  font-size: 1.3em;
  text-transform: uppercase;
  background-color: rgba(150, 150, 150, 0.6);
  border: 2px solid rgb(230, 230, 230);
  border-radius: 0 !important;
  letter-spacing: 2.6px;
  transition: background-color 0.2s ease;
  text-decoration: none !important;
}

.btn.enquire-btn {
    background-color: rgba(150, 150, 150, 0.6);
    color: white;
    border: 2px solid white;
}

.btn.dark-btn:hover,
.btn.enquire-btn:hover {
    background-color: rgba(17, 52, 138, .6);
}

.btn.dark-btn {
    background-color: transparent;
    color: rgb(23, 23, 23);
    border: 2px solid rgb(23, 23, 23);
}

.btn.para-btn {
    font-size: 1.2em;
    margin: 5px 0;
}

.btn:active {
  margin-top: 2px;
}

.btn.centered {
    display: block;
  margin: 0 auto;
}

/* Images */

.about-img {
  max-width: 220px;
  margin-bottom: 2em;
}

/* tables */

td, tr {
  border-bottom: 1px solid black;
  padding: 10px;
}

/* admin */
form label {
    width: 150px;
    text-align: right;
    vertical-align: top;
}

#content input {
    width: 200px;
}

#content li {
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
}

#testitems div {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

#testitems label {
    text-align: left;
}
