{{ "<!-- About Section -->" | safeHTML }}
<section id="about" class="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ .Site.Params.about.title }}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <img class="img-responsive center-block round about-img shadowed" src="{{ .Site.Params.about.image}}"/>
        </div>
        <div class="col-sm-8 col-xs-12">
            {{ .Site.Params.about.content | markdownify }}
            <div class="btn-holder">
              {{ range .Site.Params.about.buttons }}
                <a href={{ .path }} class="btn para-btn dark-btn">{{ .label }}</a>
              {{ end }}
            </div>
            {{ .Site.Params.about.video_content | markdownify }}
            <div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
              {{ partial "youtube.html" .Site.Params.about.video_tag }}
            </div>
        </div>
    </div>
</section>
