{{ "<!-- Footer -->" | safeHTML }}
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-12">
                    <h3>{{ .Site.Params.footer.social.title }}</h3>
                    <ul class="list-inline">
                        {{ range .Site.Params.footer.social.networks }}
                            <li>
                                <a href="{{ .link }}" class="btn-social btn-outline"><i class="fa fa-fw {{ .icon }}"></i></a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
