{{ "<!-- Testimonial Grid Section -->" | safeHTML }}
<section class="success" id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-shadow">{{ .Site.Params.testimonial.title }}</h2>
            </div>
        </div>
        {{ range sort .Site.Data.testimonials.items "weight" }}
            <div class="row testimonial-item">
                <h1 class="text-shadow">{{ .name }}</h1>
                {{ if .img }}
                    <img src="img/{{.img}}" class="col-sm-2 col-xs-12 round shadowed img-responsive"/>
                {{ end }}
                <blockquote
                    {{ if .img }}
                        class="col-sm-10 col-xs-12"
                    {{ else }}
                        class="col-xs-12"
                    {{ end }}
                    >
                    {{ range .paras }}
                        <p>{{ . }}</p>
                    {{ end }}
                </blockquote>
                <hr class="testimonial-break">
            </div>
        {{ end }}
    </div>
</section>
