{{ "<!-- Testimonial Grid Section -->" | safeHTML }}
<section class="success" id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ .Site.Params.testimonial.title }}</h2>
            </div>
        </div>
        <div class="row">
            {{ range $.Site.Data.testimonials }}
            <blockquote class="col-lg-8 testimonial-item">
                <h1>{{ .name }}</h1>
                <p>{{ .text }}</p>
            </blockquote>
            <img src="img/{{.img}}" class="col-lg-4 testimonial-img bordered img-responsive"/>
            {{ end }}
        </div>
    </div>
</section>
