{{ "<!-- Video Grid Section -->" | safeHTML }}
<section id="videos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ .Site.Params.videos.title }}</h2>
            </div>
        </div>
        <div class="row videos-row">
            {{ range .Site.Params.videos.youtube }}
                <div class="video col-lg-4 col-sm-6">
                    {{ partial "youtube.html" . }}
                </div>
            {{ end }}
        </div>
        <div class="row videos-row">
            {{ range .Site.Params.videos.instagram }}
                <div class="video col-lg-4 col-sm-6">
                    {{ partial "instagram.html" . }}
                </div>
            {{ end }}
        </div>
    </div>
</section>
